{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block title %}{{ parent() }} - {{ "user.title.list"|translate(locale) }}{% endblock %}

{% block container %}
    {% set users = elements %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "user.title.list"|translate(locale) }}</h1>
            <div class="button-bar">
                <a class="btn btn-default btn-sm" href="{{ path_for('user_create', {'locale': locale}) }}" title="{{ "user.action.create"|translate(locale) }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ "user.action.create"|translate(locale) }}
                </a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ "user.label.id"|translate(locale) }}</th>
                        <th>{{ "user.label.email"|translate(locale) }}</th>
                        <th>{{ "user.label.roles"|translate(locale) }}</th>
                        <th>{{ "user.label.actions"|translate(locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles|join(', ') }}</td>
                            <td>
                                <a href="{{ path_for('user_update', {'locale': locale, 'id': user.id}) }}" type="button" class="btn btn-default btn-sm" title="{{ "user.action.update"|translate(locale) }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="{{ path_for('user_read', {'locale': locale, 'id': user.id}) }}" type="button" class="btn btn-default btn-sm" title="{{ "user.action.read"|translate(locale) }}">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <form action="{{ path_for('user_delete', {'locale': locale, 'id': user.id}) }}" method="post" class="inline-form">
                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                    <button type="submit" class="btn btn-danger btn-sm" title="{{ "user.action.delete"|translate(locale) }}">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "@SlimSkeleton/_pagination.html.twig" %}
        </div>
    </div>
{% endblock %}
