{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block title %}{{ parent() }} - {{ "user.title.read"|translate(locale) }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "user.title.read"|translate(locale) }}</h1>
            <table class="table table-striped">
                {% for property, value in user %}
                    <tr>
                        <td>{{ ("user.label."~property)|translate(locale) }}</td>
                        <td>
                            {% if value is iterable %}
                                {% set subValueIsIteratable = false %}
                                {% for subKey, subValue in value %}
                                    {% if subValue is iterable %}
                                        {% set subValueIsIteratable = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if subValueIsIteratable %}
                                    <table class="table table-condensed table-bordered table-striped">
                                        {% for subKey, subValue in value %}
                                            <tr>
                                                {% if not is_numeric(subKey) %}
                                                    <td>{{ (property~".label."~subKey)|translate(locale) }}</td>
                                                {% endif %}
                                                <td>
                                                    {% if subValue is not iterable %}
                                                        {{ subValue }}
                                                    {% else %}
                                                        {% set subSubKeysAreNumeric = false %}
                                                        {% for subSubKey, subSubValue in subValue %}
                                                            {% if is_numeric(subSubKey) %}
                                                                {% set subSubKeysAreNumeric = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if not subSubKeysAreNumeric %}
                                                            <table class="table table-condensed table-bordered table-striped">
                                                                {% for subSubKey, subSubValue in subValue %}
                                                                    {% if subSubValue is not iterable %}
                                                                        <tr>
                                                                            <td> {{ (property~".label."~subSubKey)|translate(locale) }}</td>
                                                                            <td>{{ subSubValue }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </table>
                                                        {% else %}
                                                            {% for subSubKey, subSubValue in subValue %}
                                                                {% if subSubValue is not iterable %}
                                                                    {{ subSubValue }}<br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    {% for subKey, subValue in value %}
                                        {{ subValue }}<br>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path_for('user_update', {'locale': locale, 'id': user.id}) }}" title="{{ "user.action.update"|translate(locale) }}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="btn btn-default" href="{{ path_for('user_list', {'locale': locale}) }}" title="{{ "user.action.list"|translate(locale) }}">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
