{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "user.title.view"|translate(locale) }}</h1>
            <table class="table table-striped">
                {% for property, value in user %}
                    <tr>
                        <td>{{ ("user.label."~property)|translate(locale) }}</td>
                        <td>{% if value is iterable %}{% for subvalue in value %}{{ subvalue }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ value }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path_for('user_edit', {'locale': locale, 'id': user.id}) }}" title="{{ "user.action.edit"|translate(locale) }}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="btn btn-default" href="{{ path_for('user_list', {'locale': locale}) }}" title="{{ "user.action.list"|translate(locale) }}">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
